<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img src="img/wna-logo.png" alt="">
        </div>
        <h3>Welcome to WNA Dashboard APP</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
        </p>
        <p>Click the login button to authenticate.</p>
        <!-- <a href=""><button type="submit" class="btn btn-primary block full-width m-b">Login</button></a> -->
        <authenticate redirecturi="http://localhost:8888/wna-dashboard/"></authenticate>
        <p class="m-t"> <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small> </p>
    </div>
</div>
